################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeChallenge/.vs/CodeChallenge
/CodeChallenge/packages
/CodeChallenge/VBCodeChallenge/bin
/CodeChallenge/VBCodeChallenge/obj/Debug
/CodeChallenge/CodeChallenge/bin
